<%- include("/document/head.ejs") %>
<div class="flex flex-col items-start justify-start divide-y divide-gray-200 dark:divide-gray-700 md:justify-center md:items-center md:divide-y-0 md:space-x-6 md:mt-24">
  <div class="pt-6 pb-8 space-x-2 md:space-y-5">
    <h1 class="pb-5 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14 md:border-l-4 md:border-r-4 md:px-6">
      Links
    </h1>
    <ul>
      <% for (item of page) { %>
        <li class="mt-5 mb-2 mr-5 list-disc" key="<%= item.index %>">
          <a class="mr-3 text-xl font-medium text-gray-500 hover:text-gray-600 dark:hover:text-gray-400" href="<%= item.url %>">
            <%= item.name %>
          </a>
          <a class="-ml-2 text-xl font-semibold text-gray-600 dark:text-gray-300" href="<%= item.url %>">
            -- <%= item.desc %>
          </a>
        </li>
      <% } %>      
    </ul>
  </div>
  <!-- <LinksSender /> -->
</div>
<%- include("/document/foot.ejs") %>